.container{
    background-color: rgb(22, 178, 95);
    text-align: center;
}

.container > h1{
    background-color: chocolate;
}

.container > p{
    background-color: burlywood;
}

.container > button{
    background-color: red;
    color: white;
}

.last{
    background-color: cornflowerblue;
    text-align: justify;
    text-align-last: right;
}

.direc > h1,p{
    direction: rtl;
    unicode-bidi: bidi-override;
}

.are{
    vertical-align: super;
}

.space > p{
    direction: ltr;
    white-space: pre;
}