*{
    font-family: 'Lucida Sans';
    background-color: white;
}

h1{
    color: #b92b27;
}

h2,h3{
    color:rgb(18, 205, 65);
    background-color: rgb(112, 100, 92);
}

#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}

.upvote{
    background-color: rgb(48, 96, 230);
    color: aliceblue;
}

p a{
    background-color: rgb(203, 57, 191);
    color: greenyellow;
}

.post a{
    background-color: black;
    color: aqua;
}

p+h3{
    text-decoration: underline;
}

.upvote+button{
    background-color: burlywood;
    color: black;
}

div>input{
    background-color: rgb(135, 147, 169);
}

input[type="text"]{
    color: green;
}

input[type="password"]{
    color: red;
}

input[type]{
    border-color: rgb(55, 35, 168);
}


