body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    bottom: 100px;
    height: 100vh;
    width: 100vw;
}

button{
    height: 30px;
    width: 90px;
    border: 1px solid white;
    border-radius: 50px;
}

#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#orange{
    background-color: orange;
}
#grey{
    background-color: grey;
}

