body{
    font-family: Arial,sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
}

.form_container{
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px 30px;
    max-width: 400px;
    width: 100%;
    
}

h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: #555555;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff;
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
    