*{
    margin: 0;
}

body{
    background-color: #f4f4f2;
}

.card:hover{
    background-color: white;
   border-color: white;
}
.card{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: 20px solid #f4f4f2;
    border-radius: 20px;
    
}

.image{
    position: relative;
}

.box{
    display: inline-block;
}

.img{
    height: 248px;
    width: 328px;
    border-radius: 20px;
}

.off{
    background-color: rgba(17, 85, 203, 0.8);
    position: absolute;
    left: 10px;
    bottom: 20px;
    color: white;
    font-size: 20px;
}

.restaurant, .food ,.location{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rest_name{
    color: #1c1c1c;
    font-size: 17px;
    font-weight: bold;
}

.rest_rating{
    background-color: green;
    height: 20px;
    border-radius: 8px;
    padding: 3px;
    color: white;
    position: absolute;
    right: 5px;
}

.food_price ,.distance{
    position: absolute;
    right: 5px;
}

.food_name , .food_price{
    font-size: 14px;
    color: #696969;
}

.address{
    font-size: 14px;
    color: #9c9c9c;
}

.distance{
    font-size: 12px;
    color: #363636;
    font-weight: bold;
}

.sym{
    height: 18px;
    width: 18px;
    position: relative;
    top: 2px;
    right: 2px;

}

.first{
    margin-left: 200px;
    margin-bottom: 20px;
}

.second{
    padding-bottom: 10px;
    position: sticky;
    top: 0px;
    background-color: rgb(248, 248, 248);

}

.brand{
    color: rgb(215, 5, 5);
    margin-right: 50px;
    font-weight: bold;
    font-size: 30px;
}

.searching{
    width: 450px;
    height: 50px;
    margin-right: 170px;
    position: relative;
    bottom: 13px;
    border-radius: 10px;
    border-color: #eaeaea;
    border-style: solid;
    margin-left: 50px;
}

button{
    height: 40px;
    position: relative;
    bottom: 10px;
    font-size: 20px;
    margin-right: 50px;
    background-color: transparent;
    border: none;
    color: rgb(139, 134, 134);
}


.head{
    background-color: rgb(248, 248, 248);
}

.d_img{
    height: 30px;
    width: 30px;
    position: relative;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

.photo{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #E5F3F3 ;
}

.heading{
    position: relative;
    top: 7px;
    left: 6px;
    color: #696969;
    font-size: 20px;
    font-weight: 500;
}

.delivery{
    margin-left: 70px;
    margin-right: 70px;
}

.third{
    height: 475px;
    background-color: #eaeaea;
    padding-left: 200px;
}

.dining{
    margin-left: 200px;
}

.ph{
    height: 320px;
    width: 260px;
    border-radius: 7px;
    pointer-events: none;
}

.c_name,.c_num{
    position: relative;
    bottom: 50px;
    left: 10px;
    color: white;
}

.c_name{
    font-size: 18px;
}

.c_num{
    font-size: 14px;
}

.title{
    font-size: 25px;
    letter-spacing: 2px;
    padding-bottom: 26px;
    color: rgb(28,28,28);
}

.line{
    font-size: 18px;
    padding-bottom: 15px;
    color: #363636;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.col{
    margin-right: 30px;
}

main{
    padding-left: 200px;
}