*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    padding: 5rem;
    width: 100vw;
    height: 100vh;
    background-color: rgb(26, 26, 79);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
}

.box{
    background-color: green;
}

.box1{
    grid-row: 1/4;
}

.box2{
    grid-column: 2/4;
}

.box6{
    grid-column: 4/5;
    grid-row: 2/4;
}

.box3 , .box5, .box7{
    background-color: red;
}

.box4,.box8{
    background-color: orange;
}