*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(10, 10, 41);
    display: flex;
    
    align-items: center;
}


.box{
    background-color: lightblue;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    /* animation-name: movement;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards; */

    animation: movement 5s ease-in 1s infinite alternate forwards running;
    
}

@keyframes movement{
    0%{
        transform: translate(0vw,0vh);
    }
    25%{
        transform: translate(50vw,-40vh);
    }
    50%{
        transform: translate(90vw,0vh);
    }
    75%{
        transform: translate(50vw,40vh);
    }
    100%{
        transform: translate(0vw,0vh);
    }
}

.box{
    background-color: red;
}