body{
    padding: 0;
    margin: 0;
  background: linear-gradient(to right, #74ebd5, #ACB6E5);

    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#root{
    background-color: #E3E9F1;
    padding: 0px 60px 40px 60px;
    text-align: center;
    font-size: 25px;
    border-radius: 8px;
    border-color: goldenrod;
    border-width: 3px;
    border-style: solid;
    color: #333333;
}

input{
    font-size: 15px;
    padding: 6px;
    margin-bottom: 10px;
    width: 300px;
}

button{
    font-size: 25px;
    padding: 10px;
    border: 2px solid rgb(72, 190, 190);
    border-radius: 40px;
    background-color: red;
    margin-bottom: 20px;
    margin-top: 20px;
}

#result{
    font-weight: 500;
    color: rgb(14, 7, 93);
}