*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 4rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.box{
    background-color: greenyellow;
    height: 100px;
    width: 100px;
    font-size: 20px;
    border-width: 5px;
    border-color: rgb(208, 115, 16);
    border-style: solid;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
     
}

.box2{
    transform-style: preserve-3d;
}

.box1:hover{
    transform: rotatex(60deg);
}
.box2:hover{
    transform: rotatey(60deg);
}
.child{
    height: 70px;
    width: 70px;
    background-color: cornflowerblue;
    transform: rotatey(90deg);
}
.box3:hover{
    transform:  rotatez(60deg);
}

.box4:hover{
    transform: translatex(200px);
}
.box5:hover{
    transform: translatey(200px);
}
.box6:hover{
   
    transform: perspective(300px) translatez(200px);
}

.box7:hover{
    transform: scalex(2);
}
.box8:hover{
    transform: scaley(2);
}
.box9:hover{
    
    transform: perspective(300px) rotatey(45deg) scalez(2);
}