*{
    margin: 0;
    padding: 0;
}

h1{
    color: white;
}

.logo{
    display: flex;
    background-color: #D72E2E;
    justify-content: space-between;
    padding: 2rem;
}

.right > button{
    border: none;
    color: white;
    background-color: #D72E2E;
    font-size: 1rem;
    margin-left: 0.8rem;
    padding-top: 0.3rem;
    cursor: pointer;
}

.search{
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    background-color: #B9B1B1;

}

.searching{
    width: 400px;
    max-width: 60%;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    border-color: white;
}

.search > button{
    margin-left: 0.5rem;
    font-size: 1rem;
    color: white;
    background-color: #D72E2E;
    border-radius: 10px;
    padding: .5rem;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./mover.jpg);
    padding: 2rem 0rem;
}

.hero > h2{
    font-size: 2rem;
    color: white;
    background-color: black;
}

.hero > button{
    background-color: #D72E2E;
    color: white;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5rem;
    margin-top: 1rem;
}

.mover{
    text-align: center;
    padding: 1rem;
}

.mover > h2{
    font-size: 3rem;
    font-weight: bold;
}

.image{
    height: 400px;
}

.movie{
    margin-left: 8rem;
    margin-right: 8rem;
    display: flex;
    overflow-x: scroll;
}
.card{
    border: 0.5rem solid rgb(208, 199, 199);
    background-color:  rgb(208, 199, 199);
    text-align: center;
    margin-right: 1rem;
    border-radius: 10px;
}

.card > h3{
    font-size: 2rem;
}

.bottom{
    margin-top: 2rem;
    text-align: center;
}

.bottom > img{
    max-width: 80%;
    border-radius: 10px;
}

@media (max-width: 650px){
    .logo{
        flex-direction: column;
        align-items: center;
    }

    .right{
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
    }

    .movie{
        flex-direction: column;
        gap: 1rem;
    }
}