*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 500px;
    width: 500px;
    background: linear-gradient(to top,red,orange,yellow,green,blue,indigo,violet);
}