* {
  margin: 0;
}

.first,.third{
    display: inline-block;
    width: 25vw;
    height: 40vh;
    background-color: red;
    
}

.second,.fourth{
    display: inline-block;
    height: 40vh;
    width: 60vw;
    background-color: red;
}

.second,.fourth{
    margin-left: 14vw;
}
.third,.fourth{
    margin-top: 20vh;
}
