*{
    margin: 0;
}

.left{
    display: inline-block;
    height: 100vh;
    width: 33vw;
    background-color: green;
}
.right{
    display: inline-block;
    height: 100vh;
    width: 33vw;
    background-color: orangered;
    margin-left: 33vw;
}