*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    background-color: rgb(15, 15, 45);
    gap: 1rem;
    padding: 5rem;
    display: grid;
   
}

.box{
    background-color: green;
}



.box3,.box5,.box7{
    background-color: red;
}

.box4,.box8{
    background-color: orange;
}

@media (min-width:500px){
    .container{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: "Box1 Box2 Box2 Box3" "Box1 Box4 Box5 Box6" "Box1 Box7 Box8 Box6";
    }

    .box1{
        grid-area: Box1;
    }
    .box2{
        grid-area: Box2;
    }
    .box3{
        grid-area: Box3;
    }
    .box4{
        grid-area: Box4;
    }
    .box5{
        grid-area: Box5;
    }
    .box6{
        grid-area: Box6;
    }
    .box7{
        grid-area: Box7;
    }
    .box8{
        grid-area: Box8;
    }
}