.container{
    background-color: rgb(231, 212, 187);
    height: 1000px;
    margin-left: 30vw;
}

.box{
    display: inline-block;
    height: 100px;
    width: 100px;
    position: relative;
}
.box1{
    background-color: brown;
}
.box2{
    background-color: blue;
    position: fixed;
    top: 40px;
}
.box3{
    background-color: rgb(14, 164, 82);
}
.box4{
    background-color: red;

}
.box5{
    background-color: rgb(129, 110, 7);
    position: sticky;
    top: 20px;
}

.newcontainer{
    height: 1000px;
    background-color: red;
}
